.relation {
    margin: 0;
    padding: 0;
}

.type {
    margin: 0;
    padding: 0 0 8px 20px;
}

.title {
    margin: 0;
    padding: 0 0 8px 20px;
}
  
.user {
    margin: 0;
    padding: 0 0 8px 0;
}

.information {
    color: #c0c0c0;
    width: 210px;
    margin: 0 25px 0 5px;
    padding: 0 0 7px 0;
    text-align: right;
}

.button-plus {
    margin: 0;
    padding: 0;
}