.summary {
    margin: 20px 0 20px 20px;
    padding: 0;
}
  
.summary-block {
    margin: 5px 10px 5px 0;
    padding: 0;
}
  
.title-sub {
    font-size: 14px;
    color: #797979;
}
  
.title {
    font-size: 20px;
    font-weight: bold;
    color: #cccccc;
}
  
.value {
    position: absolute;
    top: 27px;
    right: 34px;
    font-size: 28px;
    color: #cfcfcf;
}
  
.graph {
    width: 260px;
    height: 80px;
    margin: 10px 10px 0 0;
    padding: 0;
    background-color: #070707;
}
